*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
	background-image: radial-gradient(circle at -20.71% 50%, #a5d8ed 0, #a8d7f0 6.25%, #acd6f2 12.5%, #b1d4f3 18.75%, #b6d3f4 25%, #bcd2f4 31.25%, #c1d0f4 37.5%, #c7cff3 43.75%, #cdcdf2 50%, #d3cbf0 56.25%, #d8caee 62.5%, #ddc9eb 68.75%, #e2c7e8 75%, #e7c6e4 81.25%, #ebc5e0 87.5%, #eec4dc 93.75%, #f1c4d7 100%);	}

@media screen and (max-width: 600px) {
    ul{
        list-style: none;
    }
    
    img{
        width: 40px;
    }
    
    input[type="checkbox"]{
        display: none;
    }
    
    nav{
        background-color: rgb(75, 73, 73);
        width: 350px;
        height: 800px;
        color: white;
        position: relative;
        left: -350px;
        transition: all .5s;
    }
    
    input[type="checkbox"]:checked ~ nav{
        transform: translateX(350px);
    }
    
    ul{
        top: 50px;
        position: absolute;
        width: 100%;
    }
    
    a{
        background-color: rgb(75, 73, 73);
        color: white;
        display: block;
        padding: 20px 5px;
    }
    
    a:hover{
        background-color: white;
        color: rgb(75, 73, 73);
    }
    
    label{
        padding: 15px;
        position: absolute;
        z-index: 1;
    }
}

@media screen and (min-width: 600px) {
    ul{
        list-style: none;
		background-image: radial-gradient(circle at 50% -20.71%, #abd9f4 0, #b0d8f6 6.25%, #b5d6f8 12.5%, #bbd5f8 18.75%, #c1d3f8 25%, #c8d2f8 31.25%, #ced0f6 37.5%, #d4cff4 43.75%, #dacdf2 50%, #e0cbef 56.25%, #e5caec 62.5%, #eac9e8 68.75%, #eec8e3 75%, #f2c7df 81.25%, #f5c6da 87.5%, #f8c6d5 93.75%, #f9c6d0 100%);
        color: white;
    }
    
    li{
        display: inline;
        color: white;
    }
    
    a{
        display: inline-block;
       background-image: radial-gradient(circle at 50% -20.71%, #d6d4f1 0, #dad3ef 6.25%, #dfd2ed 12.5%, #e3d0ea 18.75%, #e7cfe8 25%, #eacfe4 31.25%, #edcee1 37.5%, #f0cdde 43.75%, #f2cdda 50%, #f4cdd6 56.25%, #f5cdd3 62.5%, #f5cdcf 68.75%, #f5cdcb 75%, #f5cec8 81.25%, #f4cec5 87.5%, #f3cfc2 93.75%, #f1d0c0 100%);
        color: white;
        padding: 20px;
    }
    
    a:hover{
	   background-image: radial-gradient(circle at 50% -20.71%, #bae0e6 0, #bbe0e9 6.25%, #bcdfeb 12.5%, #bedfed 18.75%, #c0deef 25%, #c3ddf0 31.25%, #c6dcf1 37.5%, #c9dbf2 43.75%, #cddaf2 50%, #d1d9f2 56.25%, #d5d8f1 62.5%, #d9d7f0 68.75%, #ddd6ee 75%, #e1d5ed 81.25%, #e4d4ea 87.5%, #e8d3e8 93.75%, #ebd2e5 100%);
        color: rgb(75, 73, 73);
    }
    
    img{
        width: 0px;
    }
    
    input[type="checkbox"]{
        display: none;
    }
    
    label{
        padding: 15px;
        position: absolute;
        z-index: 1;
    }
}